<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="header">
      <%= link_to 'Expenses', expenses_url %>,
      <%= link_to 'Summary', :controller=>"/reports", :action=>'summary' %>
      <br>
      <% if user_signed_in? %>
        You're logged in as:
        <%= link_to( current_user.name, :controller=>"authentications", :action=>"index") %>
        <%= link_to('LogOut', destroy_user_session_path) %>        
      <% else %>
        <%= link_to('Login', authentications_url )   %>  
      <% end %>
    </div>
    <div id="container">
 
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
